.banner{
    width: 100%;
    height: 850px;
    background-image: url(https://i.ibb.co/wcgDZYm/donation6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0px;
    margin-top: 0px;
     
}
.banner h1{
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Roboto', sans-serif;
    color: azure;
    text-align: center;
    font-size: 100px;
    padding-top: 200px;
}
.banner p{
    text-align: center;
    color: azure;
    font-size: 25px;
    padding-top: 0px;
}
.banner a {
  background-color: rgb(225, 81, 81);
  color: white;
  border-radius: 5px;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 820px;
  margin-top: 15px;
  font-size: 25px;
}
.headline{
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 100px;
}
.headline h1{
    font-size: 50px;
}
.headline p{
    font-size: 20px;
    color: grey;
    font-weight: 100;
}
.box-model{
    display: flex;
    margin-left: 450px;

}
.box-model h1{
      color: grey;
      padding: 50px 15px;
      font-size: 30px;
      font-weight: bolder;
      
      
}
.box{
    width: 150px;
    height: 150px;
    background-color: whitesmoke;
    text-align: center;
    margin-left: 20px;
    border-radius: 8px;
}
.color-box{
     width: 150px;
    height: 150px;
    background-color: rgb(237, 172, 143);
    text-align: center;
    margin-left: 20px;
    border-radius: 8px;
    border-style: solid;
     border-color: red;
    
    
}
.color-box h1{
    color: rgb(225, 81, 81);
}
.donate-part form{
    margin-left: 100px;
    padding: 50px;
    
}
.donate-part form input{
    font-size: 20px;
    padding: 10px 644px;
    border-style: solid;
     border-color: white;
}
.donate-part form hr{
     width: 1000px;
}
.donate-part a {
    background-color: rgb(225, 81, 81);
  color: white;
  border-radius: 5px;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 820px;
  
  font-size: 25px;
}
.donate-plane .donate-headline{
     font-family: 'Gentium Book Plus', serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 100px;
}
.donate-plane .donate-headline h1{
     font-size: 50px;
}
.donate-plane .donate-headline p{
     font-size: 20px;
    color: grey;
    font-weight: 100;
}
.plan-box{
    width: 350px;
    height: 350px;
    background-color: #c9e8f0;
    border-radius: 5px;
    margin-left: 30px;
}
.plan-box img{
    padding-top: 50px;
    padding-left: 20px;
}
.plane-detail{
    padding-left: 20px;
    padding-right: 20px;
}
.donate-chart{
    display: flex;
    margin-left: 270px;

}
.plan-box-2{
    width: 350px;
    height: 350px;
    background-color: #decaf8;
    border-radius: 5px;
    margin-left: 30px;
}
.plan-box-2 img{
     padding-top: 50px;
    padding-left: 20px;
}
.plan-box-3{
     width: 350px;
    height: 350px;
    background-color: #f8efed;
    border-radius: 5px;
    margin-left: 30px;
}
.plan-box-3 img{
     padding-top: 50px;
    padding-left: 20px;
}
.contribute{
    display: flex;
}
.contribute img{
    width: 60%;
    height: 500px;
    padding-top: 50px;
    border-radius: 10px 10px;
}
.contribute-part{
    width: 40%;
    height: 500px;
    padding: 40px;
    margin-left: 240px;
}
.contribute-part h1{
    font-size: 50px;
}
.contribute-part a{
     background-color: rgb(225, 81, 81);
  color: white;
  border-radius: 5px;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
  font-size: 25px;
}
.update-part{
    text-align: center;
}
.update-part h1{
    font-size: 50px;
    padding-top: 40px;
}
.update-part p{
    color: grey;
    font-weight: 100;
}
.email{
    width: 800px;
    height: 250px;
    background-color: #fffbe7;
    margin-left: 500px;
    border-radius: 8px;
    text-align: center;
    
}
.email a{
       background-color: rgb(225, 81, 81);
  color: white;
  margin-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
   border-radius: 0px 5px 5px 0px;
}

.email form {
    padding: 110px;
    border-style: solid;
     border-color: white;
   
}
.email form input{
    padding: 12px 70px;
    background-color: #e2e2e2;
      border-style: solid;
     border-color: white;
     border-radius: 5px 0px 0px 5px;
    
}
.footer{
    width: 100%;
    height: 300px;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 80px;

}
.footer-part{
    padding-top: 100px;
}
.footer-part h1{
    color: coral;
  

}